<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Software</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="sign-up-form">
        <h1>Please Sign In</h1>
        <form>
            <input type="email" class="input-box" placeholder="Email Address">
            <input type="email" class="input-box" placeholder="Password">
            <p>Remember Me</p>

        </form>
    </div>

</body>

</html>